body{
    background-color: #000;
    color: #fff; 
    font-family: 'Inknut Antiqua', serif;
}

header{
    background-color:#444;
    padding: 25px;
}

a {
    color: #ea8000;
  }

nav ul li{
    display: inline;
    list-style: none;
}

.logoend{
    color: #000;
    background-color: #ea8000;
    border-radius: 3px;
    display: inline;
}

table, th, td {
    border: 1px solid;
  }

  th {
    background-color:#444;
  }

  table {
    border-collapse: collapse;
  }
